<%- include('layout/header.ejs') %>

<div class="container">
    <div class="col-lg-4">
        <h1>Dashboard</h1>
        <div id="successMessage" class="alert alert-success text-center" style="display: none;"></div>
        <div id="errorMessage" class="alert alert-danger text-center" style="display: none;"></div>
    </div>
    <div class="row">
        <div class="col-3 text-center">
            <h1><%= categoryCount %></h1>
            <br />
            Categories
        </div>
        <br><br>

        <div class="col-3 text-center">
            <h1><%= foodCount %></h1>
            <br />
            Foods
        </div>
        <br><br>

        <div class="col-3 text-center">
            <h1><%= orderCount %></h1>
            <br />
            Total Orders
        </div>
        <br><br>

        <div class="col-3 text-center">
            <h1><%= totalRevenue %></h1>
            <br />
            Revenue Generated
        </div>
        <br><br>
    </div>
</div>

<%- include('layout/footer.ejs') %>

<script>
function showSuccessMessage(message) {
    const successDiv = document.getElementById('successMessage');
    successDiv.textContent = message;
    successDiv.style.display = 'block';
    setTimeout(() => {
        successDiv.style.display = 'none';
    }, 10000); // Hide after 10 seconds (10000 milliseconds)
}

function showErrorMessage(message) {
    const errorDiv = document.getElementById('errorMessage');
    errorDiv.textContent = message;
    errorDiv.style.display = 'block';
    setTimeout(() => {
        errorDiv.style.display = 'none';
    }, 10000); // Hide after 10 seconds (10000 milliseconds)
}

// Check for success or error message in query parameters
const params = new URLSearchParams(window.location.search);
const successMessage = params.get('success');
const errorMessage = params.get('error');

if (successMessage) {
    showSuccessMessage(successMessage);
}

if (errorMessage) {
    showErrorMessage(errorMessage);
}
</script>
