<%- include('layout/header.ejs') %>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-6 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h3 class="text-light text-center">Update Category</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/update-category/<%= category._id %>" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="title">Title</label>
                            <input type="text" name="title" class="form-control form-control-lg" placeholder="Category Title" value="<%= category.title %>" required />
                        </div>
                        <div class="mb-3">
                            <label for="image">Current Image</label>
                            <% if (category.image_name) { %>
                                <img src="/uploads/<%= category.image_name %>" width="100" class="img-thumbnail" alt="Category">
                            <% } else { %>
                                <div class="error">Image is not Added.</div>
                            <% } %>
                        </div>
                        <div class="mb-3">
                            <label for="image">Select New Image</label>
                            <input type="file" name="image" class="form-control form-control-lg" />
                        </div>
                        <div class="mb-3">
                            <label>Featured</label><br>
                            <input type="radio" name="featured" value="Yes" <% if (category.featured === 'Yes') { %> checked <% } %>> Yes
                            <input type="radio" name="featured" value="No" <% if (category.featured === 'No') { %> checked <% } %>> No
                        </div>
                        <div class="mb-3">
                            <label>Active</label><br>
                            <input type="radio" name="active" value="Yes" <% if (category.active === 'Yes') { %> checked <% } %>> Yes
                            <input type="radio" name="active" value="No" <% if (category.active === 'No') { %> checked <% } %>> No
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="submit" value="Update Category" class="btn btn-primary btn-lg" />
                        </div>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer.ejs') %>
